apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-django
  namespace: {{ .Release.Namespace }}
  labels:
    app: django
spec:
  replicas: {{ .Values.django.replicas }}
  selector:
    matchLabels:
      app: django
  template:
    metadata:
      labels:
        app: django
    spec:
      imagePullSecrets:
        - name: {{ .Values.imagePullSecretName }}
      containers:
        - name: django
          image: "{{ .Values.django.image.repository }}:{{ .Values.django.image.tag }}"
          imagePullPolicy: Always
          # Увеличим количество workers и timeout для надежности
          command: ["gunicorn", "cafe_order_management.wsgi:application", "--bind", "0.0.0.0:8000", "--workers", "4", "--timeout", "90"]
          ports:
            - containerPort: 8000
          env:
            # --- ВАЖНОЕ ИСПРАВЛЕНИЕ НИЖЕ ---
            # Мы указываем путь не на localhost, а на имя Kubernetes сервиса.
            # Шаблон {{ .Release.Name }}-django раскроется в cafe-release-django
            - name: API_BASE_URL
              value: "http://{{ .Release.Name }}-django:8000/api/"
            
            # Остальные переменные
            - name: POSTGRES_DB
              value: {{ .Values.postgres.dbName }}
            - name: POSTGRES_USER
              value: {{ .Values.postgres.user }}
            - name: DB_HOST
              value: {{ .Release.Name }}-postgres
            - name: DB_PORT
              value: "5432"
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-secret
                  key: POSTGRES_PASSWORD
            - name: SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-secret
                  key: SECRET_KEY
            - name: DEBUG
              value: {{ .Values.django.env.debug | quote }}
            - name: ALLOWED_HOSTS
              value: {{ .Values.django.env.allowedHosts | quote }}
