apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secret
  namespace: {{ .Release.Namespace }}
type: Opaque
stringData:
  # Значения придут из аргументов helm install --set
  SECRET_KEY: {{ .Values.django.secretKey | default "changeme" | quote }}
  POSTGRES_PASSWORD: {{ .Values.postgres.password | default "changeme" | quote }}
