apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-django
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    app: django
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
