name: Deploy with Helm

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker image
        run: |
          # Убедись, что репозиторий в DockerHub создан и он Private
          IMAGE="${{ secrets.DOCKERHUB_USERNAME }}/cafe-app"
          TAG="${{ github.sha }}"
          docker build -t "$IMAGE:$TAG" -t "$IMAGE:latest" .
          docker push "$IMAGE:$TAG"
          docker push "$IMAGE:latest"

      - name: Setup Kubernetes Namespace and Registry Secret
        env:
          KUBECONFIG: /etc/kubernetes/admin.conf
        run: |
          # Создаем namespace, если нет
          kubectl create namespace cafe --dry-run=client -o yaml | kubectl apply -f -

          # Создаем секрет для доступа к Docker Registry (regcred)
          # Если он есть - удаляем и пересоздаем, чтобы ключи были свежими
          kubectl delete secret regcred --namespace cafe --ignore-not-found
          kubectl create secret docker-registry regcred --namespace cafe \
            --docker-server=https://index.docker.io/v1/ \
            --docker-username=${{ secrets.DOCKERHUB_USERNAME }} \
            --docker-password=${{ secrets.DOCKERHUB_TOKEN }} \
            --docker-email=deploy@example.com

      - name: Deploy Helm Chart
        env:
          KUBECONFIG: /etc/kubernetes/admin.conf
        run: |
          # Деплоим релиз с именем "cafe-release"
          helm upgrade --install cafe-release ./charts/cafe \
            --namespace cafe \
            --set django.image.repository="${{ secrets.DOCKERHUB_USERNAME }}/cafe-app" \
            --set django.image.tag="${{ github.sha }}" \
            --set django.secretKey="${{ secrets.DJANGO_SECRET_KEY }}" \
            --set postgres.password="${{ secrets.POSTGRES_PASSWORD }}"
